@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Montserrat', sans-serif;
	}

	body {
		@apply bg-gray-200/50 h-screen p-0 m-0 flex flex-col min-h-screen;
	}
}

@layer components {
	.app-input {
		@apply p-2 text-[#b9bcc1] border rounded-md border-solid border-[#bababa] font-semibold w-full text-sm;
	}

	.app-input::placeholder {
		@apply font-medium text-[#39414f80] opacity-80 leading-4 text-[14px];
	}

	.app-input:-ms-input-placeholder {
		color: #39414f80;
	}

	.app-input:focus {
		outline: none !important;
		outline-offset: none !important;
	}
}